<div class="mb-50">
  <h2 class="text-light text-center">Sohi Machinery Store Home Page</h2>
  <p class="text-light text-center p-5">
    Sohi Machinery Store is a family owned store.
    You can buy from us different parts for your machines that include cars, trucks, tractors etc.
    We sell genuine products at our store at best prices.
    We have products of all major companies and you can buy these products from us either by visiting our offline store or online by visiting our website.
    We take guarantee of the equality of our products and also offer replacements for damaged products if any.
    Feel free to visit our store or contact us through our contact page.
  </p>
</div>